<form [formGroup]="quizForm" (ngSubmit)="submitQuiz()">
    <label for="quizName">Quiz Name:</label>
    <input id="quizName" type="text" formControlName="quizName" required>

    <label for="maxDuration">Max Duration (minutes):</label>
    <input id="maxDuration" type="text" formControlName="maxDuration" required>

    <label for="maxPoints">Max Points:</label>
    <input id="maxPoints" type="number" formControlName="maxPoints" required>

    <label for="passingThreshold">Min Points: (%)</label>
    <input id="passingThreshold" type="number" formControlName="passingThreshold" required>

    <label for="quizDescription">quiz Description:</label>
    <textarea id="quizDescription" formControlName="quizDescription" required></textarea>

    <label for="quizTechnology">Quiz Technology:</label>
    <input id="quizTechnology" type="text" formControlName="quizTechnology" required>

    <div formArrayName="questions">
        <div *ngFor="let question of questionsArray.controls; let i=index">
            <div [formGroupName]="i" class="question-container">
                <label for="questionContent">Question Content:</label>
                <textarea id="questionContent" formControlName="questionContent" required></textarea>

                <div formArrayName="correctAnswers">
                    <div *ngFor="let correctAnswer of question.get('correctAnswers')['controls']; let j=index">
                        <div [formGroupName]="j">
                            <label for="correctAnswer">Correct Answer:</label>
                            <input id="correctAnswer" type="text" formControlName="correctAnswer" required>

                            <button type="remove" (click)="removeCorrectAnswer(question, j)">Remove Correct
                                Answer</button>
                        </div>
                    </div>
                </div>

                <button type="add" (click)="addCorrectAnswer(question)">Add Correct Answer</button>
                <div formArrayName="falseAnswers">
                    <div *ngFor="let falseAnswer of question.get('falseAnswers')['controls']; let k=index">
                        <div [formGroupName]="k">
                            <label for="falseAnswer">False Answer:</label>
                            <input id="falseAnswer" type="text" formControlName="falseAnswer" required
                                value="{{ falseAnswer.get('falseAnswer').value }}">

                            <button type="remove" (click)="removeFalseAnswer(question, k)">Remove False Answer</button>
                        </div>
                    </div>
                    <button type="add" (click)="addFalseAnswer(question)">Add False Answer</button>
                </div>

                <button type="remove" (click)="removeQuestion(i)">Remove Question</button>
            </div>
        </div>
    </div>

    <button type="add" (click)="addQuestion()">Add Question</button>

    <button type="submit">Submit</button>
</form>