<div class="navbar">
  <a>Quiz: {{quiz.quiz.name}}</a>
  <div class="timer">00:00:00</div>
</div>
<div class="background">
    <div class="content">
        <div class="question">{{ quizQuestions[currentQuestionNumber].question.question }}</div>
      <div class="answer" *ngFor="let answer of quizQuestions[currentQuestionNumber].answers">

        <label>
          <input type="radio" name="answers" id="answer1" [value]="answer.id" 
            [checked]="this.answers[this.currentQuestionNumber].answers && 
                        this.answers[this.currentQuestionNumber].answers.length > 0 && 
                        this.answers[this.currentQuestionNumber].answers[0].id == answer.id"
            (change)="onSelecting($event)" />

          <img src='/assets/icons/Odp A.svg'>
        </label>
      </div>
      
      
      <button class="prev" *ngIf="currentQuestionNumber > 0" (click)="onPrev()">prev</button>
      <button class="next" *ngIf="quizQuestions.length > currentQuestionNumber+1" (click)="onNext($event)">next</button>
      <button class="next" *ngIf="quizQuestions.length == currentQuestionNumber+1" (click)="submit()">FINISH</button>
    </div>
</div>


<!--<div *ngIf="quizQuestions != null" class="question-box">
  <h3>Question {{ currentQuestionNumber + 1 }}/{{ totalQuestions }}</h3>
  <h3>{{ quizQuestions[currentQuestionNumber].question.question }}</h3>
  <div class="answer" *ngFor="let answer of quizQuestions[currentQuestionNumber].answers">
    <label>
      <input type="radio" name="answers" id="answer1" [value]="answer.id" 
        [checked]="this.answers[this.currentQuestionNumber].answers && 
                    this.answers[this.currentQuestionNumber].answers.length > 0 && 
                    this.answers[this.currentQuestionNumber].answers[0].id == answer.id"
        (change)="onSelecting($event)" />
      {{ answer.answer }}
      {{ answer.id }}
    </label>
  </div>
  
  
  <button class="prev" *ngIf="currentQuestionNumber > 0" (click)="onPrev()">prev</button>
  <button class="next" *ngIf="quizQuestions.length > currentQuestionNumber+1" (click)="onNext($event)">next</button>
  <button class="next" *ngIf="quizQuestions.length == currentQuestionNumber+1" (click)="submit()">FINISH</button>
</div>-->