<div class="jobofferts">
    <p class="name">Oferty pracy</p>
    <p class="description">Znajdź oferty pracy dopasowane do twoich umiejętności! Zobacz jakich umiejętności wymagają pracodawcy na konkretne stanowiska.</p>
        <div class="jobs">
            <div class="jobber">
                <div class="content">

                <div class="logo">
                </div>

                <div class="info">
                <p class="jobname">Junior Frontend Developer</p>
                <p class="company">T-mobile Polska</p>
                <p class="location">Poznań</p>
                <p class="location"></p>
                </div>

                
            </div>

            </div>
            <div class="jobber">
            </div>
            <div class="jobber">
            </div>
            <div class="jobber">
            </div>
            <div class="jobber">
            </div>
        </div>
</div>
<div class="search">
    <p class="name2">Check Yourself! Znajdź pracę marzeń!</p>
    <div class="finder">
        <div class="finddev">
            <mat-icon>search</mat-icon>
            <p class="name3">Junior Java Developer...</p>
        </div>
        <div class="locatedev">
            <mat-icon>Pin_fill</mat-icon>>
            <p class="name3">Poznań</p>
        </div>
    </div>
</div>
<div class="companyprofile">
    <p class="name">Profile firm</p>
    <p class="description">Każdy ma swoje preferencje dotyczące firm - jedni wolą mniejsze, rodzinne firmy, a inni korporacje. Wybierz firmę, która cię interesuje i zobacz stanowiska i technologie w jakich działa!</p>
        <div class="jobs">
            <div class="jobber">
            </div>
            <div class="jobber">
            </div>
            <div class="jobber">
            </div>
            <div class="jobber">
            </div>
            <div class="jobber">
            </div>
        </div>
</div>
<div class="userprofile">
    <p class="name">Profile osób</p>
    <p class="description">Szukasz pracownika, który spełni Twoje oczekiwania? Może chcesz sprawdzić jak rozwijają się inni? Sprawdź to! </p>
    <div class="jobs">
        <div class="jobber">
        </div>
        <div class="jobber">
        </div>
        <div class="jobber">
        </div>
        <div class="jobber">
        </div>
        <div class="jobber">
        </div>
    </div>
</div>