<div class="custom-section">
    <div class="background-image"></div>
    <div class="content">
      <h1>{{'HomePage.Find job' | translate}}</h1>
      <div class="inputs">   
          <input type="text" placeholder="Junior Java Developer..." class="finddev"/>  
          <input type="text" placeholder="Poznań" class="locatedev"/>
      </div>
    </div>
  </div>



  <div class="info-section">
    <div class="title">
      <h1>{{'HomePage.Jobs' | translate}}</h1>
    </div>
    <div class="subtitle">
      <h2>{{'HomePage.Find offers' | translate}}</h2>
    </div>
  </div>

  
  <div class="jobOffers" id="ofert">
    <div class="offer" *ngFor="let offer of offers">
      <div class="left">
        <a href="https://www.wp.pl" class="logocompany">
          <img class="avatar" alt="avatar" src="{{company.image}}">
        </a>
        <div class="companyName">
            <a href="https://www.wp.pl" class="jobname">
            <span>{{offer.jobName}}</span>
          </a>       
            <a href="https://www.wp.pl" class="companyname">
            <span>{{company.longName}}</span>
          </a>
        </div>
      </div>
      <div class="center">
        <div class="tags">
          <div class="tag" *ngFor="let tag of offer.tags">{{tag}}</div>
        </div>
      </div>
      <div class="right">
        <p>Poznań</p>
        <button mat-button class="applyButton"><span>{{'HomePage.Apply' | translate}}</span></button>
      </div>
    </div>
  </div>
  