  .jobofferts,
  .search,
  .companyprofile,
  .userprofile {
    width: 100%;
    background-color: #F6F7EB;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .name,
  .name2,
  .description,
  .name3 {
    color: var(--bg-dark, #1E232B);
    text-align: center;
    font-family: 'Inter', sans-serif;
  }

  .jobber {
    width: 300px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 5px 3px 15.3px 0px rgba(0, 0, 0, 0.25);
    margin: 4% 4% 0 4%;
    box-sizing: border-box;
  }

  .jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .finder,
  .finddev,
  .locatedev {
    display: flex;
    height: 55px;
    width: calc(50% - 24px);
    padding: 18px;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(1, 133, 116, 0.72);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    margin: 4% 4%;
    box-sizing: border-box;
  }

  .logo {
    width: 70px;
    height: 68px;
    flex-shrink: 0;
    background: url("../../../assets/images/LogoTmobile.png") no-repeat center center / contain;
    margin: 20px;
  }

  .content {
    display: flex;
    box-sizing: border-box;
  }

  .info {
    margin: 20px;
    box-sizing: border-box;
  }

  .jobname {
    color: #C00A68;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .company,
  .location {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  @media (max-width: 768px) {
    .finder,
    .finddev,
    .locatedev {
      width: 100%;
      margin: 4% 0;
    }
  }
  .custom-section {
    position: relative;
    width: 100%;
    height: 300px; /* Set the desired height */
    overflow: hidden;
  
    .background-image {
      width: 100%;
      height: 100%;
    //   background: url('../../../assets/images/LogoTmobile.png') center/cover no-repeat;
      position: absolute;
      z-index: -1;
    }
  
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 1;
      color: #fff; /* Set the text color */
    display: block;
      h1 {
        font-size: 2em;
        margin-bottom: 20px;
      }
  
      .inputs {
        display: flex;
        justify-content: center;
        align-items: center;
  
        input {
          width: 200px; /* Adjust the width as needed */
          padding: 10px;
          margin: 0 10px;
          font-size: 1em;
        }
      }
    }
  }
  

  .info-section {
    width: 100%;
    text-align: center;
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
  
    .title, .subtitle {
      margin-bottom: 10px;
    }
  
    .cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    .card {
      width: 200px; /* Adjust the width as needed */
      height: 150px; /* Adjust the height as needed */
      border: 1px solid #ccc;
      margin: 10px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
  
      p {
        font-size: 1em;
      }
    }
  }
  