$margin: 50px;

.wrapperUser {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: white;
  min-width: 700px;
  width: 70%;
  border-radius: 25px;
}

.sections {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  .about {
    margin-top: $margin;
    p {
      margin: 0;
    }
  }

  & .header {
    margin-top: $margin;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;

      .companyName {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        span {
          font-size: 24px;
        }

        .icons {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .right {
      margin-top: 40px;
      display: flex;

      span {
        font-size: 15px;
        margin-top: 2px;
      }

      mat-icon {
        margin-left: 5vw;
      }
    }

    & .avatar {
      width: 135px;
      height: 135px;
    }
  }
}
