.sections {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  .newJobbButton {
    width: 100%;
    border: solid #00A993;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    font-size: 12px;
    color: #00A993;
    margin-bottom: 30px;
    height: 90px;
  }

}

