<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<main class="page">
    <div class="wrapperUser">
        <form [formGroup]="jobOfferEditForm">
            <div class="sections">
                <div class="upheader">
                    <a class="return-button" matTooltip="{{'UserPage.Return to profile' | translate}}">
                        <button mat-raised-button type="button" routerLink="/company" color="accent">
                            {{'UserPage.Return' | translate}}
                        </button>
                    </a>
                    <a class="save-button">
                        <button mat-raised-button type="button" (click)="saveJob()" color="warn">Save</button>
                    </a>
                </div>
                <div class="header">
                    <div class="left">
                        <div class="logo">
                            <img class="avatar" alt="avatar" src="{{image}}">
                        </div>
                        <div class="companyName">
                            <div class="title">
                                <mat-form-field>
                                    <mat-label>Nazwa stanowiska</mat-label>
                                    <input matInput
                                           placeholder="Nazwa firmy"
                                           formControlName="nameJob"
                                           type="text">
                                </mat-form-field>
                                <p>fujitsu</p>
                            </div>
                            <div class="icons">
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div>
                            <mat-icon class="material-icons-outlined">pin_drop</mat-icon>
                            <mat-form-field>
                                <mat-label>Miejscowość</mat-label>
                                <input matInput
                                       placeholder="Location"
                                       formControlName="locationJobOffer"
                                       type="text">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-icon class="material-icons-outlined">hourglass_top</mat-icon>
                            <mat-form-field appearance="outline">
                                <mat-label>Etat</mat-label>
                                <mat-select formControlName="jobType">
                                    <mat-option *ngFor="let key of getTypesWork()" [value]="key">
                                        {{ JobType[key] }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-icon class="material-icons-outlined">calendar_month</mat-icon>
                            <mat-form-field appearance="outline" class="date-picker">
                                <mat-label>Data końca oferty</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dateEndOffer">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="about">
                    <p>O mnie:</p>
                    <span>
                        <mat-form-field class="about-me-field" appearance="outline">
                                                    <textarea matInput
                                                              #aboutMe
                                                              maxlength="2000"
                                                              type="text"
                                                              placeholder="Napisz coś o ofercie"
                                                              formControlName="aboutJobOffer"
                                                              cdkTextareaAutosize
                                                    ></textarea>
                                                    <mat-hint align="end">{{aboutMe.value.length}}/2000</mat-hint>
                                                </mat-form-field>
                    </span>
                </div>
                <div class="grid-container">
                    <div class="grid-item">
                        <p>Technologie:</p>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Etat</mat-label>
                                <mat-select formControlName="jobType">
                                    <mat-option *ngFor="let key of getTechList()" [value]="key">
                                        {{ TechList[key] }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Etat</mat-label>
                                <mat-select formControlName="jobType">
                                    <mat-option *ngFor="let key of getTypesWork()" [value]="key">
                                        {{ JobType[key] }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="grid-item">
                        <p>Narzędzia:</p>
                        <div>
                        </div>
                    </div>
                    <div class="grid-item"><p>Platformy:</p></div>
                    <div class="grid-item"><p>Języki:</p></div>
                </div>
            </div>
        </form>
    </div>
</main>
