<mat-sidenav-container class="container"  [hasBackdrop]="false">
  <mat-sidenav class="sidenav" #sidenav id="sidenav" mode="over" opened="{{true}}" position="end">
    <mat-nav-list class="sidenav-list">
      
      <mat-list-item class="sidenav-list-item" routerLink="/userpage">
        <span class="sidenav-item">
          <span class="icon"><mat-icon class="material-icons-outlined">account_circle</mat-icon></span> 
          <span class="text">Mój profil</span>
        </span>
      </mat-list-item>

      <mat-list-item class="sidenav-list-item" routerLink="/joboffers">
        <span class="sidenav-item">
          <span class="icon"><mat-icon class="material-icons-outlined">work_outline</mat-icon></span>
          <span class="text">Oferty pracy</span>
        </span>
      </mat-list-item>

      <mat-list-item class="sidenav-list-item">
        <span class="sidenav-item-quiz">
          <div class="icon" (click)="activateDropdown()"><mat-icon class="material-icons-outlined" >{{getArrow()}}</mat-icon></div>
          <span>
            <span class="text">Quizzy</span>
            <div *ngIf="isQuizDropdownActive">
              <div class="quiz-options">Dodaj quizz</div>
              <div class="quiz-options">Zarządzaj quizzami</div>
              <div class="quiz-options">Zakup quizzy</div>
            </div>
          </span>
        </span>
      </mat-list-item>

      <mat-list-item [class.sidenav-list-item-quiz-closed]="!isQuizDropdownActive" routerLink="/userpage"
        >
        <span class="sidenav-end-item">
          <span class="text-bottom">Zobacz skalę oceniającą</span>
        </span>
      </mat-list-item>

      <mat-list-item [class.sidenav-list-item-quiz-closed]="!isQuizDropdownActive" routerLink="/userpage">
        <span class="sidenav-end-item">
          <span class="text-bottom">Wyloguj się</span>
        </span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
