<div class="navbar">
  <a>Profil > np Tmobile > {{quiz.quiz.name}}</a>
</div>
<div class="background">
    <div class="content">
        <!-- <div class="question">{{ quizQuestions[currentQuestionNumber].question.question }}</div>
      <div class="answer" *ngFor="let answer of quizQuestions[currentQuestionNumber].answers">

        <label>
          <input type="radio" name="answers" id="answer1" [value]="answer.id" 
            [checked]="this.answers[this.currentQuestionNumber].answers && 
                        this.answers[this.currentQuestionNumber].answers.length > 0 && 
                        this.answers[this.currentQuestionNumber].answers[0].id == answer.id"
            (change)="onSelecting($event)" />

          <img src='/assets/icons/Odp A.svg'>
        </label>
      </div> -->
      <a class="title">Junior C# Developer - Twing team</a>
      <a class="description">Cześć. Jesteśmy szybko rozwijającą się ekipą różnorakich osobistości, które łączy wspólna pasja oraz praca. Przygotowany przez nas dwuczęściowy egzamin sprawdzi waszą wiedzę oraz umiejętności z zakresu technologi C#. Niezależnie od posiadanego przez was zaplecza doświadczenia oraz umiejętności profilaktycznie zalecamy zapoznanie się z danymi materiałami oraz wykładami, które mogą wam wyjaśnić kilka zagadanień, których mogliście nie znać, co pokażę również waszą umiejętność adaptacji. W przypadku jakichkolwiek pytań co do zagadnień można się zemną kontaktować mailowo chętnie wytłumaczę niektórę zagadnienia. Powodzenia i do zobaczenia w Twing team.  
        <br>
        <br>Senior developer
        <br>Joanna Stasik 
        <br>joasta@gmail.com </a>

      <div class="line"></div>

      <div class="quiz-info">
          <div>Nazwa Quizu: <a>Frontend developer</a></div>
          <div>Ilość Pytań: <a>20</a></div>
          <div>Czas Trwania: <a>20min</a></div>
          <div>Przypisane Firmy: <a>Tmobile</a></div>
      </div>
      
      <button class="prev" *ngIf="currentQuestionNumber > 0" (click)="onPrev()">prev</button>
      <button class="next" *ngIf="quizQuestions.length > currentQuestionNumber+1" (click)="onNext($event)">Rozwiąż quizz</button>
      <button class="next" *ngIf="quizQuestions.length == currentQuestionNumber+1" (click)="submit()">FINISH</button>
    </div>
</div>


<!--<div *ngIf="quizQuestions != null" class="question-box">
  <h3>Question {{ currentQuestionNumber + 1 }}/{{ totalQuestions }}</h3>
  <h3>{{ quizQuestions[currentQuestionNumber].question.question }}</h3>
  <div class="answer" *ngFor="let answer of quizQuestions[currentQuestionNumber].answers">
    <label>
      <input type="radio" name="answers" id="answer1" [value]="answer.id" 
        [checked]="this.answers[this.currentQuestionNumber].answers && 
                    this.answers[this.currentQuestionNumber].answers.length > 0 && 
                    this.answers[this.currentQuestionNumber].answers[0].id == answer.id"
        (change)="onSelecting($event)" />
      {{ answer.answer }}
      {{ answer.id }}
    </label>
  </div>
  
  
  <button class="prev" *ngIf="currentQuestionNumber > 0" (click)="onPrev()">prev</button>
  <button class="next" *ngIf="quizQuestions.length > currentQuestionNumber+1" (click)="onNext($event)">next</button>
  <button class="next" *ngIf="quizQuestions.length == currentQuestionNumber+1" (click)="submit()">FINISH</button>
</div>-->
