.header {
    height: 58px;
    background-image: url('/assets/images/logo-background.svg');
    background-color: #00A993;
    padding-top: 22px;
    min-width: 300px;
    color: white;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;

    &-question {
        margin: 0 0 0 10%;
    }
    
    &-time {
        margin: 0 10% 0 0;
        float: right;
    }
}

.hourglass {
    vertical-align: middle;
    margin-bottom: 5px;
}
