<div class="header">
    <span class="header-question">{{'Quiz.Question' | translate}} {{questionNumber + 1}}/{{quiz.questions.length}}</span>
    <span class="header-time"><mat-icon class="material-icons-outlined hourglass">hourglass_top</mat-icon>{{ellapsedTime}} / 5:00</span>
</div>
<!-- *ngIf="nextQuestion" -->
<!-- <div *ngFor="let question of quiz.questions; let i = index"> -->
    <div *ngIf="quiz.questions[questionNumber].type === 'multiple choice'">
        <app-multi-choice-question
            [colors]="colors"
            [quiz]="quiz"
            [questionNumber]="questionNumber"
            [backgroundImages]="backgroundImages"
            [questionImage]="questionImage"
            (questionChanged)="onQuestionChanged($event)"
        ></app-multi-choice-question>
    </div> 
    <div *ngIf="quiz.questions[questionNumber].type === 'finish sentence'">
        <!-- [questionNumber]="nextQuestion" -->
        <app-complete-sentence-question
            [quiz]="quiz"
            [questionNumber]="questionNumber"
            (questionChanged)="onQuestionChanged($event)"
        ></app-complete-sentence-question>
    </div>
<!-- </div> -->