<mat-toolbar>
    <div class="logo" (click)="goBack()">
        <div class="up">
            <span>Check </span>
            <img src="../../../assets/logo.svg" class="filter-logo" alt="logo" />
            <span> Yourself</span>
        </div>
        <span class="down">Bell the cat</span>
    </div>
    <div class="toolbarIcons">
        <div class="changeLanguageButton" (click)="changeLanguage();"><button>PL/ENG</button></div>
        <div class="avatar" (click)="openLogin()">
            <input type="image" src="../../../assets/avatar.svg" class="filter-avatar" alt="avatar" />
        </div>
    </div>
</mat-toolbar>
