<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<main class="page">
  <div class="wrapperUser">
    <div class="sections">
      <div class="upheader">
        <button mat-button class="applyButton" [routerLink]="'create-quiz'">
          <mat-icon class="material-symbols-outlined">quiz</mat-icon>
          <span>{{'All.Add quiz' | translate}}</span>
        </button>
      </div>
      <div class="header">
        <div class="left">
          <div class="logo">
            <img class="avatar" alt="avatar" src="{{image}}">
          </div>
          <div class="companyName">
            <div class="title">
              <span *ngIf="dataJobOffer?.job">{{ dataJobOffer.job.name | capitalize}}</span>
              <span class="company" [routerLink]="'/company/' + companyId" *ngIf="dataCompany?.company">{{dataCompany.company.name | capitalize}}</span>
            </div>
          </div>
        </div>
        <div class="right">
          <div>
            <mat-icon>location_on</mat-icon>
            <span *ngIf="dataJobOffer?.job">{{dataJobOffer.job.image | capitalize}}</span>
          </div>
          <div>
            <mat-icon>work</mat-icon>
            <span *ngIf="dataJobOffer?.job">{{JobType[dataJobOffer.job.employmenttype]}}</span>
          </div>
          <div>
            <mat-icon>calendar_month</mat-icon>
            <span
              *ngIf="dataJobOffer?.job">Oferta ważna do: {{dataJobOffer.job.expirationdate | date:'shortDate'}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="dataJobOffer?.job" class="about">
        <p *ngIf="dataJobOffer.job.description">Opis oferty:</p>
        <p>{{dataJobOffer.job.description | capitalize}}</p>
      </div>
      <ng-container *ngIf="dataJobOffer?.jobTechnologies">
      <div class="technology" *ngIf="showPlatformSection(dataJobOffer.jobTechnologies, 1)">
        <p>Technologie:</p>
        <mat-grid-list cols="2" rowHeight="50px">
          <ng-container *ngFor="let icon of dataJobOffer.jobTechnologies">
            <mat-grid-tile *ngIf="icon.idtechnology === 1 && icon!.icon">
              <mat-icon matTooltip="{{TechList[icon.icon] | capitalize}}" svgIcon="{{TechList[icon.icon]}}"></mat-icon>
              <span>{{'- ' + ((icon.description ? NecessarySkill[icon.description] : NecessarySkill[0]) | capitalize)}}</span>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </div>
      </ng-container>
      <ng-container *ngIf="dataJobOffer?.jobTechnologies">
      <div class="technology" *ngIf="showPlatformSection(dataJobOffer.jobTechnologies, 2)">
        <p>Platformy:</p>
        <mat-grid-list cols="2" rowHeight="50px">
          <ng-container *ngFor="let icon of dataJobOffer.jobTechnologies">
          <mat-grid-tile *ngIf="icon.idtechnology === 2 && icon!.icon">
              <mat-icon matTooltip="{{ToolsList[icon.icon] | capitalize}}" svgIcon="{{ToolsList[icon.icon]}}"></mat-icon>
              <span>{{'- ' + ((icon.description ? NecessarySkill[icon.description] : NecessarySkill[0]) | capitalize)}}</span>
          </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </div>
      </ng-container>
      <ng-container *ngIf="dataJobOffer?.jobTechnologies">
      <div class="technology" *ngIf="showPlatformSection(dataJobOffer.jobTechnologies, 3)">
        <p>Języki:</p>
        <mat-grid-list cols="2" rowHeight="50px">
          <ng-container *ngFor="let icon of dataJobOffer.jobTechnologies">
            <mat-grid-tile *ngIf="icon.idtechnology === 3 && icon!.icon">
              <span>{{icon.icon | capitalize}}</span>
              <span>{{'- ' + ((icon.description ? NecessarySkill[icon.description] : NecessarySkill[0]) | capitalize)}}</span>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </div>
      </ng-container>
    </div>
  </div>
</main>
