<div class="popup">
  <div class="wrapper">
    <div class="one">
      <span>Check </span>
      <img src="../../../../assets/icons/logo.svg" class="filter-logo" alt="logo"/>
      <span> Yourself</span>
    </div>
      <div class="three">
        <form [formGroup]="registerCompanyFormGroup" (ngSubmit)="registerButtonCompany(registerCompanyFormGroup)">
          <!--Nazwa firmy-->
          <mat-form-field appearance="fill">
            <input matInput placeholder="{{'Login.Company' | translate}}" formControlName="nameCompany">
            <mat-error *ngIf="registerCompanyFormGroup.get('nameCompany')?.getError('required')">{{'Login.Youmust enter name of your company' | translate}}</mat-error>
            <mat-error *ngIf="registerCompanyFormGroup.get('nameCompany')?.getError('noSpaceAllowed')">{{'Login.Space not allowed' | translate}}</mat-error>
          </mat-form-field>
          <!--NIP-->
          <mat-form-field appearance="fill">
            <input matInput placeholder="{{'Login.TIN' | translate}}" formControlName="nip">
            <mat-error *ngIf="registerCompanyFormGroup.get('nip')?.getError('required')">{{'Login.You must enter your tax identification number' | translate}}</mat-error>
            <mat-error *ngIf="registerCompanyFormGroup.get('nip')?.getError('invalidNumber')">{{'Login.Only numbers' | translate}}</mat-error>
          </mat-form-field>
          <!--Email-->
          <mat-form-field appearance="fill">
            <input matInput placeholder="Email" formControlName="email" >
            <mat-error *ngIf="registerCompanyFormGroup.get('email')?.getError('required')">{{'Login.You must enter your email' | translate}}</mat-error>
            <mat-error *ngIf="registerCompanyFormGroup.get('email')?.getError('email')">{{'Login.Wrong email' | translate}}l</mat-error>
          </mat-form-field>
          <!--Hasło-->
          <mat-form-field appearance="fill">
            <input #input matInput placeholder="{{'Login.Password min 8 characters' | translate}}" formControlName="password" type="password">
            <mat-error *ngIf="registerCompanyFormGroup.get('password')?.getError('required')">{{'Login.You must enter your password' | translate}}</mat-error>
            <mat-error *ngIf="registerCompanyFormGroup.get('password')?.invalid">{{getErrorPassword(input.value.length)}}</mat-error>
          </mat-form-field>
          <!--Potwierdź Hasło-->
          <mat-form-field appearance="fill">
            <input matInput placeholder="{{'Login.Confirm password' | translate}}" formControlName="confirmPassword" type="password">
            <mat-error *ngIf="registerCompanyFormGroup.get('confirmPassword')?.getError('required')">{{'Login.Confirm password' | translate}}</mat-error>
            <mat-error *ngIf="registerCompanyFormGroup.get('confirmPassword')?.getError('mustMatch')">{{'Login.Password does not match' | translate}}</mat-error>
          </mat-form-field>
          <!--Button submit-->
          <button mat-button class="registerButton"><span>{{'Login.Sign up' | translate}}</span></button>
          <!--Checkbox-->
          <mat-checkbox (click)="closeSnackBar()" formControlName="privacyCheckbox"><p>{{'Login.I accept protection policy' | translate}}</p></mat-checkbox>
        </form>
      </div>
  </div>
</div>
