<div class="quiz-main" *ngIf="quiz">
    <div class="quiz-questions" *ngIf="isQuizToBeStarted; else showThis">
        <!-- <div class="header"> -->
        <!-- <h3>Quiz: {{quiz.quiz.name}}</h3> -->
        <!-- </div> -->
        <questions [quizz]="quiz"></questions>
        <!--    <timer *ngIf="isQuizToBeStarted" [totalTime]="quiz.quiz.totaltime"></timer>-->
    </div>
    <ng-template #showThis>
        <div class="navbar">
            <a>{{companyName | capitalize}} > {{jobOfferName | capitalize}} > {{quiz.quiz.name | capitalize}}</a>
        </div>
        <!-- <div class="start"> -->
        <div class="background">
            <div class="wrapperUser">
                <div class="title">
                    <a>Witamy w quizie {{quiz.quiz.name | capitalize}} !</a>
                </div>
                <div class="desc">
                    <a *ngIf="quiz.quiz.description" class="description">{{quiz.quiz.description | capitalize}}</a>
                </div>

                <div class="line"></div>

                <div class="center">
                    <div class="quiz-info">
                        <span>Łącznie <a>{{quiz.quizzesQuestions.length}}</a> pytań</span>
                        <span>Możesz zdobyć <a>{{quiz.quiz.totalscore}}</a> pkt</span>
                        <span>Potrzebujesz <a>{{quiz.quiz.passingthreshold}}%</a> do zdania</span>
                        <span>{{'Quiz.Time' | translate}}<a>{{quiz.quiz.totaltime}}</a> minut</span>
                    </div>
                </div>

                <div class="end">
                    <button class="start" (click)="onStart()">{{'Quiz.Start Quiz' | translate}}</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>
