<div class="quiz-main" *ngIf="quiz">
  <div class="quiz-questions" *ngIf="isQuizToBeStarted; else showThis">
    <!-- <div class="header"> -->
    <!-- <h3>Quiz: {{quiz.quiz.name}}</h3> -->
    <timer *ngIf="isQuizToBeStarted" [totalTime]="quiz.quiz.totaltime"></timer>
    <!-- </div> -->
    <questions [quizz]="quiz"></questions>
  </div>
  <ng-template #showThis>
    <!-- <div class="start"> -->
    <div class="navbar">
      <a>{{'Quiz.Profile' | translate}}> np Tmobile > {{quiz.quiz.name}}</a>
    </div>
    <div class="background">
      <div class="content">

        <a class="title">{{quiz.quiz.name}}</a>
        <a class="description">{{quiz.quiz.description}}</a>

        <div class="line"></div>

        <div class="quiz-info">
          <div>Test jest na <a>{{quiz.quiz.totalscore}}</a> pkt</div>
          <div>Potrzebujesz <a>{{quiz.quiz.passingthreshold}}</a> pkt do zdania</div>
          <div>{{'Quiz.Time' | translate}}<a>{{quiz.quiz.totaltime}}</a></div>
          <div>Test ma <a>{{quiz.quizzesQuestions.length}}</a> pytań</div>
        </div>

        <button class="start" (click)="onStart()">{{'Quiz.Start Quiz' | translate}}</button>
      </div>
    </div>
  </ng-template>
</div>
